/*
Theme Name: Splash Child-theme
Theme URI: http://santipm.com
Version: 4.0
Description: Tema hijo de Splash para hacer cambios sin riesgo
Author: Santiago Ponce
Author URI: http://santipm
Template: splash
*/

@import url("../splash/style.css");


.ss-full-width{
	width: 70%;
	float: left;
}

.sidebar{
	width: 20%;
	float: right;
}
