/*
Theme Name: Splash
Theme URI: http://mythemeshop.com/themes/splash
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Take your blogging to the next level with Splash, a responsive WordPress theme that integrates review system and WooCommerce to maximizes content impact.
Version: 2.1.6
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto! important;
    border: 0, auto;

}
iframe { max-width: 100% }
blockquote {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
    overflow: hidden;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.sticky {

}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text { margin-bottom: 0 }
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
.flex-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.flex-video iframe, .flex-video object, .flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*-[ Framework ]--------------------*/
body {
    font: 14px/23px Noto Sans, sans-serif;
    color: #555;
    background-color: #EBEBEB;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {
    text-decoration: none;
    color: #2DB2EB;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    width: 960px;
    margin: 0 auto;
    background: #fff;
    clear: both;
    display: block;
    padding: 0 3.4%;
}
#page, .container {
    max-width: 960px;
    min-width: 240px;
}
#page {
    padding-top: 25px;
    min-height: 100px;
    float: none;
    clear: both;
}
/*-[ Header ]-----------------------*/
body > header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
}
.main-header .container { background: #fff }
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 1;
}
#header h1, #header h2 {
    font-size: 38px;
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
#header h1.image-logo, #header h2.image-logo { margin-top: 0 }
#logo a {
    text-transform: uppercase;
    float: left;
    line-height: 1;
}
#logo a:hover { color: #222 }
.image-logo { margin-top: 10px }
#logo img { float: left }
.logo-wrap {
    padding: 15px 0;
    overflow: hidden;
    float: left;
    margin: 25px 0 0;
    z-index: -1;
    position: relative;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search {
    float: right;
    border-left: 1px solid #EEE;
}
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
#header #s {
    border: 0;
    margin: 0 !important;
    padding: 13px 0 13px 10px;
    width: 80%;
    height: 16px;
}
#header #searchform .fa-search {
    border: 0;
    height: 22px;
    padding-top: 11px;
}
#header .sbutton { height: 42px }
.widget-header h3 { margin-bottom: 0 }
.widget-header {
    float: right;
    max-width: 77%;
    margin-top: 30px;
}
.widget-header img { float: left }
.widget-header .textwidget {
    float: left;
    margin-top: 8px;
}
/*-[ Navigation ]-----------------*/
.secondary-navigation .children li .sf-sub-indicator { display: none }
.secondary-navigation {
    background: #222;
    display: block;
    float: left;
    width: 960px;
    max-width: 100%;
    margin-top: 30px;
}
.secondary-navigation ul { float: left }
.secondary-navigation a {
    color: #fff;
    text-align: left;
    text-decoration: none;
    padding: 15px 22px;
    text-transform: uppercase;
    -webkit-transition: none;
    transition: none;
    font-size: 13px;
    line-height: 20px;
}
.secondary-navigation ul li:hover a { color: #fff!important }
.secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
.main-navigation {
    float: left;
    margin: 0;
    width: 100%;
    border: 1px solid #EEE;
    width: 958px;
    max-width: 100%;
    border-top: 0;
    position: relative;
    z-index: 1;
}
.main-navigation, .secondary-navigation {
    -webkit-perspective: 1000;
    perspective: 1000;
}
.main-navigation #navigation { width: auto }
.main-navigation #navigation ul li { border-right: 0 }
.main-navigation li a {
    font-size: 14px;
    line-height: 1.2em;
    padding: 11px 13px;
    color: #989898;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #eee;
    font-family: sans-serif;
}
.main-navigation #navigation .current-menu-item > a { color: #333 }
.main-navigation #navigation li a {
    color: #989898;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    line-height: 20px;
}
.main-navigation #navigation li a:hover { color: #333 }
.main-navigation #navigation ul li ul { border-bottom: 1px solid #EEE }
.main-navigation #navigation ul ul li:first-child a { border-top: 1px solid #EEE }
.main-navigation #navigation ul ul:after { border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #eee }
.main-navigation #navigation ul li ul li { background: #fff }
.main-navigation #navigation ul li ul li a {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.main-navigation #navigation .sf-sub-indicator {
    top: 10px;
    right: 15px;
}
.main-navigation #navigation ul ul .sf-sub-indicator { top: 10px }
.sf-js-enabled li a.sf-with-ul { padding-right: 30px }
.sf-js-enabled li  ul.sf-with-ul { padding-right: 20px }
#navigation .sf-sub-indicator {
    display: block;
    width: 11px;
    overflow: hidden;
    position: absolute;
    right: 12px;
    top: 14px;
}
#navigation ul ul .sf-sub-indicator { top: 8px }
#navigation {
    float: left;
    width: 100%;
}
#navigation ul { margin: 0 auto }
#navigation ul li {
    float: left;
    position: relative;
    -webkit-transition: background 0.25s linear;
    transition: background 0.25s linear;
}
.secondary-navigation #navigation ul li:hover, .secondary-navigation #navigation ul li:hover + li, #navigation .mts-cart li:hover + li { border-color: #2DB2EB }
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited { display: inline-block }
#navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
#navigation ul li li {
    background: #282E33;
    border-right: 0;
    border-bottom: 0;
}
#navigation ul ul {
    position: absolute;
    width: 215px;
    padding: 20px 0 0 0;
    padding-top: 10px;
    z-index: 400;
    font-size: 12px;
    color: #798189;
}
#navigation ul ul:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #222;
    border-style: solid;
    border-width: 9px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#navigation ul ul:after {
    left: 10px;
    top: -8px;
}
#navigation ul ul ul:after { display: none }
#navigation ul ul li {
    padding: 0;
    background: #222;
}
#navigation ul ul a {
    padding: 10px 45px 10px 25px;
    position: relative;
    width: 143px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin: 0;
}
.secondary-navigation #navigation ul ul a { width: 145px }
#navigation ul ul li:last-child a { border-bottom: none }
#navigation ul ul {
    opacity: 0;
    left: -999em;
}
#navigation ul li:hover ul {
    left: auto;
    opacity: 1;
}
#navigation ul ul ul {
    top: 0px;
    padding-top: 0;
}
.main-navigation #navigation ul ul ul { top: -1px }
.main-navigation #navigation ul ul ul ul { top: 0 }
#navigation ul ul ul ul { top: 0px }
#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul {
    left: -999em;
    opacity: 0;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {
    opacity: 1;
    left: 214px;
}
#navigation ul .sfHover li a { border-bottom: 1px solid rgba(0, 0, 0, 0.09) }
.secondary-navigation #navigation ul li:before { color: #fff }
.main-navigation #navigation ul li:before, .main-navigation #navigation ul ul li:before { color: #989898 }
.secondary-navigation #navigation > ul > li { border-left: 1px solid #444 }
.secondary-navigation #navigation > ul li:first-child { border-left: 0 }
.secondary-navigation #navigation > ul > li:last-child { border-right: 1px solid #444!important }
#navigation ul .current-menu-item:before, #navigation ul li:hover:before { color: #fff }
.main-navigation #navigation ul .current-menu-item:before, .main-navigation #navigation ul li:hover:before { color: #333 }
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
nav a#pull-main, nav a#pull-primary { display: none }
#navigation i.fa { margin-right: 6px }
#navigation i.fa.wpmm-megamenu-indicator {
    margin-right: 0;
    margin-left: 6px;
}
#wpmm-megamenu .wpmm-subcategory:before { min-height: 26px }
/*-[ Content ]--------------------*/
.article {
    width: 66.2%;
    float: left;
    margin-bottom: 10px;
    padding: 0;
}
#content_box {
    float: left;
    padding-right: 4%;
    width: 96%;
}
.post {
    float: left;
    width: 100%;
}
.single_post { width: 100% }
.single_post .post-info span, .single_post .post-info a { font-size: 14px }
.single_page {
    background-color: white;
    padding-top: 0;
}
.post-content {
    padding-top: 0;
    margin-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    clear: both;
}
.post-single-content {
    overflow: hidden;
    clear: both;
}
.ss-full-width {
    background: white;
    overflow: hidden;
    padding-top: 0;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.wp-post-image { float: left }
.bigfeatured-thumbnail {
    float: left;
    max-width: 100%;
}
#bigfeatured-thumbnail {
    float: left;
    max-width: 477px;
}
.featured-thumbnail {
    float: left;
    max-width: 220px;
    width: 100%;
}
#featured-thumbnail {
    float: left;
    margin-top: 7px;
    margin-right: 2.4%;
    max-width: 200px;
    width: 32.7%;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
}
.title {
    margin-bottom: 5px;
    line-height: 21px;
}
.single-title {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    float: left;
    padding: 0 0 0 0;
    width: 100%;
}
.title a {
    color: #2B2B2B;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.page h1.title { padding-top: 0 }
.post-info {
    display: block;
    color: #5E5E5E;
    width: 100%;
}
.post-info a { color: #5E5E5E }
.post-info span { margin-right: 0 }
.theauthor:after, .post-info .thetime:after, .single .post-info .thecategory:after {
    content: "|";
    padding: 0 5px;
}
.related-posts .post-info {
    clear: none;
    float: none;
}
.thecategory { margin-left: 0 }
/**********latest-posts***********/
.viewstyle {
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px #EEEEEE;
    clear: both;
    float: left;
    font-family: arial;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 7px 15px;
    width: 100%;
    box-sizing: border-box;
}
.viewtext {
    float: left;
    font-weight: bold;
    margin-top: 4px;
}
.viewsbox { float: right }
#list, #grid { float: left }
#list a {
    border-radius: 3px 0 0 3px;
    border: 1px solid #CFD4D8;
    border-right: 0;
    padding: 0 15px 0 15px;
}
.viewsbox i {
    font-size: 14px;
    margin-top: 6px;
    margin-right: 5px;
    float: left;
}
.viewsbox .active a { background-color: #F7F7F9 !important }
.viewsbox a {
    color: #343434;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 26px;
    padding: 0 10px 0 15px;
}
.viewsbox .active a { background-color: #F7F7F9 !important }
#grid a {
    border: 1px solid #CFD4D8;
    border-radius: 0 3px 3px 0;
}
article header {
    margin-bottom: 11px;
    width: 100%;
}
.single article header { margin-bottom: 10px }
.latestPost {
    border-bottom: 1px solid #eee;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.latestPost .title {
    display: block;
    line-height: 1.3;
    font-size: 24px;
}
.front-view-content { overflow: hidden }
.grid {
    border-bottom: 0 none !important;
    clear: none !important;
    float: left;
    margin-bottom: 10px !important;
    margin-right: 6.5%;
    min-height: 250px;
    padding-bottom: 0 !important;
    width: 29%;
}
.grid .front-view-content { display: none }
.latestPost.grid .title {
    float: left;
    font-size: 14px;
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0;
}
.grid .theauthor:after { content: "" }
.grid .home-share, .grid .thetime, .grid .thecategory, .grid .thecomment { display: none }
.grid #featured-thumbnail {
    width: 100%;
    margin-right: 0;
}
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
.article img.left, .article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
.article img.right, .article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
.article img.center, .article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 0.5em auto;
    display: block;
}
.article img.aligncenter, .article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
.article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}
.article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
.article ul ul, .article ol ol, .article ul ol, .article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
.article .iconlist { margin-left: 0 }
.article .iconlist li { list-style-type: none }
/*-[ Tab widget ]------------------------------*/
#tabber {
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
    background-color: #FFF;
}
#tabber .inside {
    background: #fff;
    padding: 10px 15px 17px;
    margin-top: -3px;
    border: 3px solid #f0f0f0;
    border-top: 0;
}
#tabber ul.tabs {
    overflow: hidden;
    height: 40px;
}
#tabber ul.tabs li {
    background: none;
    float: left;
    display: inline;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
    width: 50%;
    text-align: center;
    margin-left: 0;
}
#tabber ul.tabs li a {
    color: #999;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    border: 3px solid #F9F9F9;
    line-height: 34px;
    text-transform: uppercase;
    border-bottom: 3px solid #F0F0F0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 40px;
}
#tabber ul.tabs li a.selected {
    margin: 0;
    color: #444;
    text-decoration: none;
    border: 3px solid #F0F0F0;
    border-bottom: 0;
    line-height: 38px;
    border-bottom: 0;
}
#tabber ul.tabs li.tab-recent-posts a {
    margin: 0;
    border-left: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
#tabber p { margin-bottom: 0 }
#tabber ul.tabs li.tab-recent-posts a.selected {
    border-left: 3px solid #f0f0f0;
    margin-left: -3px;
    width: 102.2%;
}
#tabber ul.tabs li a:hover {
    color: #444;
    text-decoration: none;
}
#tabber .inside li {
    list-style: none;
    margin: 0;
    padding: 15px 0 0 0;
}
#tabber .inside li:first-child { padding: 5px 0 0 }
#tabber .inside li a {
    line-height: 18px;
    display: block;
}
#tabber .inside li a:hover {

}
#tabber .inside li div.info {
    display: table;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
#tabber .inside li div.info .entry-title {
    font-size: 14px;
    margin-bottom: 0;
}
#tabber .inside li div.info p { color: #333 }
#tabber .inside li .meta {
    display: block;
    color: #999;
    padding-top: 0;
}
#tabber .tab-thumb {
    border: 1px solid #f0f0f0;
    padding: 4px;
    background: #fff;
    float: left;
    display: inline;
    margin: 0px 12px 0px 0px;
}
.post-number {
    position: relative;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    bottom: 22px;
    background: #2DB2EB;
}
#tabber .inside .tabsSep {
    margin-top: 7px;
    width: 100%;
    height: 1px;
    background-color: #e8e5de;
    clear: both;
    float: left;
}
#sidebars #tabber .wp-post-image, footer #tabber .wp-post-image { margin-top: 4px }
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu .sub-menu { margin-top: 8px }
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 23px }
/*-[ Form Input ]------------------*/
input, textarea, select {
    padding: 8px 12px;
    font-size: 14px;
    color: #B3B3B3;
    border: 1px solid #D8D8D8;
    font-family: inherit;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 2px solid #F1F4F6;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    right: 0px;
    top: 0px;
    padding: 10px 0;
    float: right;
    border: 0;
    width: 41px;
    height: 39px;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    color: white;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background: transparent;
    z-index: 10;
    position: absolute;
    border: 0;
    vertical-align: top;
}
#searchform .fa-search {
    font-size: 20px;
    border: 1px solid #d7d7d9;
    border-left: 0;
    top: 0px;
    color: #d3d3d3;
    background: #fff;
    position: absolute;
    right: 0px;
    padding: 9px 8px 9px 10px;
    height: 19px;
    width: 23px;
}
#s {
    width: 88%;
    background-color: #fff;
    float: left;
    font-size: 12px;
    padding: 10px 0;
    text-indent: 10px;
    border: 1px solid #d7d7d9;
}
#searchform fieldset { width: 100% }
.breadcrumb { margin-bottom: 15px }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebars p {
    line-height: 20px;
    margin-bottom: 0;
}
.sidebar.c-4-12 {
    float: right;
    width: 33.8%;
    line-height: 20px;
    max-width: 324px;
}
#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
.widget {
    margin-bottom: 27px;
    float: left;
    clear: both;
    width: 100%;
}
.sidebar .widget h3 { color: #333333 }
.widget .title {
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget li {
    list-style-type: square;
    margin-left: 17px;
    margin-bottom: 7px;
}
.widget h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 0px 0 15px 0;
}
.widget .attachment-widgetthumb {
    float: left;
    margin-right: 10px;
}
.mts-posts { position: relative }
.popular-posts li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #999;
    padding: 7px 24px 10px 10px;
    background: #222;
    margin-bottom: 10px;
    position: relative;
}
.advanced-recent-posts li, .category-posts li, .related-posts-widget li {
    list-style: none!important;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
#sidebars .category-posts img, #sidebars .advanced-recent-posts img, #sidebars .related-posts-widget img {
    max-width: 80px;
    margin-top: 0;
}
.popular-posts a { color: #fff !important }
.popular-posts .meta a { color: #999!important }
.advanced-recent-posts p, .popular-posts p, .category-posts p {
    margin: 0;
    overflow: hidden;
}
.widget .meta {
    padding: 4px 0 0;
    color: #999;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.sidebar.c-4-12 .widget .meta a, footer .widget .meta a { color: #999 }
.popular-posts .thecomment {
    font-family: Arial;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 7px 1px;
}
.popular-posts li:hover .thecomment { background-color: #222 }
.popular-posts li:hover .meta, .popular-posts li:hover .meta a { color: #fff!important }
ul.recent-reviews li {
    padding-left: 0;
    background: none;
    margin-bottom: 10px;
    margin-left: 0;
    overflow: hidden;
    line-height: 20px;
}
ul.recent-reviews .last { margin-bottom: -15px }
.recent-reviews .left img {
    width: 80px;
    height: 80px;
}
.recent-reviews .left {
    margin-bottom: 15px;
    position: relative;
}
.popular-posts .post-data {
    clear: both;
}
.popular-posts .horizontal-container .post-img {
    max-width: 33%;
}
.popular-posts .horizontal-container .post-data {
    clear: none;
}
.popular-posts .post-img img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit.top {
    float: left;
    width: 100%;
    padding-top: 0;
    padding-bottom: 20px;
    clear: both;
}
.shareit {
    padding: 12px 0 7px;
    overflow: hidden;
    clear: both;
    border: none;
}
.shareit .share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 8px 8px 0!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    color: #FFF!important;
    -webkit-transition: all .4s;
    transition: all .4s;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 32px;
}
.social-profile-icons .social-youtube a { background: #DD4B39 }
.social-profile-icons .social-rss a { background: #EE802F }
.social-profile-icons .social-twitter a { background: #55ACEE }
.social-profile-icons .social-facebook a { background: #3B5998 }
.social-profile-icons .social-gplus a { background: #DD4B39 }
.social-profile-icons .social-vimeo a { background: #4BF }
.social-profile-icons .social-dribbble a { background: #EA4C89 }
.social-profile-icons .social-tumblr a { background: #34526F }
.social-profile-icons .social-instagram a { background: #3F729B }
.social-profile-icons .social-flickr a { background: #FF0084 }
.social-profile-icons .social-pinterest a { background: #C8232C }
.social-profile-icons .social-linkedin a { background: #0e76a8 }
.social-profile-icons .social-github a { background: #171515 }
.social-profile-icons .social-email a { background: #CACACA }
/*-[ Footer ]-------------------*/
body > footer .advanced-recent-posts li, body > footer .popular-posts li, body > footer .category-posts li {
    border-top: 1px solid #ccc;
    padding-top: 8px;
}
body > footer .widget li:first-child {
    border-top: none;
    padding-top: 0;
}
.footer-widgets h3 { margin: 0 }
body > footer {
    overflow: hidden;
    width: 100%;
}
body > footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
body > footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
body > footer .widget { padding: 1px 0 0 0 }
body > footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget {
    margin-bottom: 20px;
    margin-top: 10px;
}
footer .advanced-recent-posts li, footer .popular-posts li, footer .category-posts li, footer .related-posts-widget li {
    background: transparent;
    padding: 0;
}
footer .advanced-recent-posts li, footer .popular-posts li, footer .category-posts li, footer .related-posts-widget li { background: transparent }
footer {
    position: relative;
    overflow: hidden;
    clear: both;
}
footer .container {
    background: #FAFAFA;
    padding: 0;
    padding: 0 2%;
}
footer p { color: #8D8D8D }
.footer-widgets {
    overflow: hidden;
    padding: 15px 0 10px;
    margin: 0;
}
.footer-widgets h3 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #222;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 0;
}
.f-widget {
    width: 32%;
    float: left;
    position: relative;
    margin-bottom: 0;
    margin-right: 2%;
}
.copyrights {
    float: left;
    width: 100%;
    clear: both;
}
#copyright-note {
    width: 960px;
    margin: 0 auto;
    clear: both;
    max-width: 100%;
}
.postsby {
    font-weight: 400;
    margin-bottom: 25px;
}
/*-[ Back To Top ]---------------------------*/
.top {
    float: right;
    position: relative;
}
.toplink .fa-chevron-sign-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
}
.toplink { padding-right: 27px }
#move-to-top {
    color: #372E2D;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    padding: 14px 10px;
    position: fixed;
    right: 22px;
    bottom: 20px;
    -webkit-transition: all 0.25s linear 0s;
            transition: all 0.25s linear 0s;
    width: 20px;
    z-index: 25;
    background: #eee;
}
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .fa-chevron-up {
    font-size: 22px;
    position: absolute;
    top: 9px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    background-color: #FFF;
    clear: both;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.postauthor p {
    padding-top: 0px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.related-posts ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
}
.related-posts h5 {
    line-height: 20px;
    padding-left: 80px;
    color: #919191;
    text-transform: uppercase;
}
.related-posts h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.relatedthumb img {
    width: 75px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 0;
}
.related-posts .relatepostli3, .related-posts .relatepostli1 {
    margin-right: 0;
    float: right;
}
.relatepostli2, .relatepostli3 {
    margin-bottom: 12px;
    padding-bottom: 1px;
}
.relatepostli .post-info a, .relatepostli .post-info .theauthor { font-weight: normal }
.relatedthumb .theauthor { color: #999999 }
.related-posts li {
    border-bottom: 1px solid #eee;
    width: 47%;
    float: left;
    list-style: none;
    padding-bottom: 32px;
    line-height: 1.4;
}
.rthumb {
    float: left;
    margin-right: 10px;
    position: relative;
}
.related-posts .last { margin-right: 0 }
.post-number {
    position: absolute;
    width: auto;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #fff;
    bottom: 0;
    background: #2DB2EB;
    padding: 0 3px;
}
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 5px solid #EEEEEE;
    border-top: 5px solid #EEEEEE;
    margin: 30px 0 10px;
    min-height: 125px;
    padding-bottom: 8px;
    padding-top: 10px;
}
.postauthor h4 {
    font-size: 20px;
    line-height: 24px;
}
.postauthor h5 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize;
}
.postauthor img {
    float: left;
    margin: 4px 20px 0 0;
}
.postauthor h4 a { color: #473636 }
.postauthor-top {
    font-size: 18px;
    margin: 10px 0;
}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 14px!important;
    padding: 3px 10px;
    margin-bottom: 3px;
    float: left;
    margin-right: 3px;
    background: #222;
    color: #FFFFFF!important;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.tagcloud a:hover {

}
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    box-sizing: border-box;
    width: 67%;
    font-size: 13px;
    float: left;
    padding: 10px 0;
    text-indent: 10px;
    border-right: 0;
}
#mts_subscribe_widget { border: 1px solid #F1F1F1 !important }
.mts-subscribe { overflow: hidden }
.mts-subscribe input[type="submit"] {
    background: #222;
    cursor: pointer;
    font-size: 12px;
    color: #FFF;
    padding: 7px 0;
    border: 0;
    float: left;
    height: 40px;
    text-align: center;
    width: 33%;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.mts-subscribe input[type="submit"]:hover { background: #222 }
/*-[ Ad Widgets ]------------------------------*/
.ad-300 img {
    background: #FAFAFA;
    border: 1px solid #eee;
    padding: 11px;
}
footer .ad-300 img {
    padding: 0;
    border: 0;
}
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 46%;
}
.ad-125 img {
    background: #FAFAFA;
    border: 1px solid #EEE;
    padding: 11px;
}
footer .ad-125 img {
    padding: 0;
    border: 0;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar { margin-bottom: 0 }
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #F1F4F6;
    border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
/*-[Comments]--------------*/
.total-comments {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    background-color: #fff;
    margin-top: 27px;
    float: left;
    clear: both;
    width: 100%;
}
#respond h4 {
    padding: 0 0 20px;
    font-size: 18px;
}
#commentsAdd {
    background-color: #fff;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    margin-top: 7px;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 9px 11px 10px }
input#author, input#email, input#url {
    background: #fff;
    max-width: 85%;
    margin-right: 10px;
    border: 3px solid #eee;
    font-size: 14px;
    width: 380px;
}
input#author, input#email, input#url, #comment {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    color: #EE210B;
    cursor: pointer;
    margin-bottom: -20px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
#commentform input#submit, .contactform #submit {
    line-height: 1;
    background-color: #222;
    padding: 12px 17px 13px;
    color: #ddd;
    text-decoration: none;
    float: left;
    cursor: pointer;
    display: inline-block;
    border: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 14px;
    font-weight: normal;
}
#commentform input#submit:hover, .contactform #submit:hover {
    background: #EE210B;
    color: #fff;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
    overflow: hidden;
    margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    float: left;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
}
.commentlist li {
    border-bottom: 1px solid #EEEEEE;
    list-style: none;
    margin: 0 0 30px 0;
    padding-left: 0;
    float: left;
    width: 100%;
    position: relative;
}
.commentlist li.comment { min-height: 120px }
.commentlist p { margin-bottom: 5px }
.ago {
    color: #666;
    font-size: 13px;
}
.fn {
    line-height: 1.375em;
    font-weight: bold;
    color: #222;
}
.fn a {
    font-weight: bold;
    font-size: 15px;
}
.comment-meta { font-size: 12px }
.comment-meta a { color: #333 }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 15px;
    width: 100%;
}
.reply a {
    font-weight: bold;
    float: left;
    padding: 0 14px;
    color: #BDBDBD;
    float: right;
    font-size: 14px;
}
.reply a:hover { color: #000 }
#commentsAdd #respond h4 { margin-bottom: 19px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    margin-left: 10%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 90%;
}
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 95%;
    border: 3px solid #eee;
    background: #fff;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
    font-size: 14px;
}
#commentform { width: 100% }
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    border: 1px solid #EEEEEE;
    border-bottom: 0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px #EEEEEE;
    clear: both;
    float: left;
    font-family: arial;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 2% 5px 2%;
    width: 95.6%;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    padding: 2.2% 0 0;
    width: 100%;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin: 0 6px;
    margin-bottom: 5px;
}
.pagination ul li:first-child { margin-left: 0 }
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {
    background: #2DB2EB;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    line-height: 1.2em;
    padding: 7px 11px;
    text-decoration: none;
}
.single .pagination a .currenttext {
    color: #4D4D4D !important;
    margin: 0;
}
.single .pagination a:hover .current.single .pagination .current { margin-right: 5px }
.pagination a {
    color: #4D4D4D;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    float: left;
    font-weight: 400;
    line-height: 1.2em;
    padding: 7px 11px;
    text-decoration: none;
    -webkit-transition: background-color 0.25s linear;
    transition: background-color 0.25s linear;
}
.pagination a:hover { color: #fff }
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #EE210B }
.single .pagination a .currenttext, .single .pagination a:hover .currenttext, .single .pagination a .current {
    padding: 0;
    background: rgba(0, 0, 0, 0)!important;
    margin-right: 0;
}
.single .pagination .currenttext, .single .pagination a { margin-right: 5px }
.single .pagination a:hover .currenttext { color: #fff }
/* AJAX pagination */
#load-posts {
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}
#load-posts a {
    background: #000;
    color: #fff;
    padding: 10px 10px;
    font-weight: bold;
}
#load-posts a i { margin-right: 10px }
#load-posts .loading:before { display: none }
/*-[ Contact Form ]------------------*/
.contact-form { position: relative }
.contact-form.loading:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.contact-form label, .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] { margin-top: 12px }
.mtscontact_error { color: #B90101 }
input#mtscontact_submit {
    width: auto;
    padding: 8px 36px;
    background: #000;
    color: #fff;
    margin-bottom: 20px;
    margin: 12px 0 20px;
    border: none;
}
input#mtscontact_submit:hover { cursor: pointer }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    position: absolute;
    top: 38px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 1001;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-top: none;
}
.main-navigation .ajax-search-results-container {
    border-color: #EEE;
    left: -1px;
    width: 101%;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 4px;
    padding: 0;
}
.ajax-search-results li {
    margin: 0;
    display: block;
    list-style: none;
    min-height: 90px;
    padding: 0 8px;
    clear: both;
}
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
    max-width: 80px;
}
.ajax-search-meta {
    margin: 6px 8px;
    height: 20px;
    font-size: 13px;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
.main-navigation .ajax-search-results li a {
    font-size: 12px;
    text-transform: none;
    border: none;
    padding: 0;
}
.main-navigation .ajax-search-results li .meta { display: none }
.main-navigation .ajax-search-results li a img { width: 40px }
.main-navigation .ajax-search-results li {
    margin: 10px 0;
    min-height: 38px;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts a { font-weight: bold }
#load-posts a.inactive { cursor: default }
/*-[ Review Box ]---------------------------*/
.rating {
    margin-top: -45px;
    float: left;
    width: 100%;
    max-width: 214px;
    text-align: center;
    background: #222;
    max-height: 45px;
}
.rating img {
    margin: 0 auto;
    width: 68%;
    padding: 5% 0;
    border: 0;
}
.reviewbox {
    display: block;
    overflow: hidden;
    border-bottom: 1px dashed #EEE;
    margin-bottom: 15px;
    clear: both;
}
.pdetails { float: left }
.reviewmeta {
    padding: 5px 0 0 0;
    border: 1px solid black;
    box-shadow: 0px 3px #000;
    border-radius: 0 0 3px 3px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    background: #3D3D3D;
    color: #DDD;
    border-top: 1px solid #444444;
    width: 220px;
}
.reviewbox h3 {
    padding: 5px 0 0 0;
    margin: 0;
    background: #212121;
    border-radius: 3px 3px 0 0;
    color: #DDD;
    margin-right: 20px;
    text-align: center;
}
.reviewmeta .clearfix {
    border-bottom: 1px solid #333;
    padding: 7px 20px;
}
.releasedate { margin-bottom: 5px }
.proscons {
    float: left;
    width: 46%;
    margin-bottom: 20px;
}
.pros { margin-bottom: 10px }
.pros b { color: #66AB10 }
.cons b { color: #E83216 }
.rating2 img {
    width: 129px;
    margin-bottom: -5px;
    margin-left: 5px;
}
.rating4 img {
    width: 100px;
    margin-top: 5px;
}
.score {
    max-width: 90px;
    float: right;
}
#user-rating { background: #4B4B4B }
.user-rating { float: right }
.user-rating img { width: 18px }
.rating3 {
    margin-top: 5px;
    float: left;
    max-width: 100px;
}
.single-reviews .review-wrapper { clear: none }
#review .review-result-wrapper > i, #review .review-result-wrapper > a i, .commentmetadata .review-result-wrapper > a i, .wp-review-comment-field .review-result-wrapper > a i {
    color: #8F8F8F;
    opacity: 0.30;
    filter: alpha(opacity=30);
}
.review-total-wrapper .review-result-wrapper i { font-size: 22px }
.rating .review-total-star {
    margin: 10px 0 10px;
    position: relative;
    float: none;
    display: inline-block;
    right: 0;
    top: 0;
}
.rating .review-result-wrapper i { font-size: 26px }
.rating .review-result-wrapper div i, .recent-reviews .review-result-wrapper div i { color: #FFC200 }
.rating .review-result-wrapper > i { color: rgba(128, 128, 128, 0.7) }
.review-type-circle.rating {
    margin-top: -46px;
    height: 40px !important;
}
.review-type-percentage.rating, .review-type-point.rating {
    color: #FFC200;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: -43px;
}
.rating .percentage-icon {
    top: 0;
    font-style: normal;
}
.latestPost .rating .percentage-icon { left: -5px }
.recent-reviews .review-total-star {
    position: relative;
    right: 0;
    top: 0;
}
.recent-reviews .review-type-star { padding-left: 0 }
.grid .rating .review-result-wrapper i { font-size: 22px }
.wp-review-comment-field {
    float: left;
    margin: 1px 0 18px;
    padding: 6px 10px 9px 12px;
    max-width: 85%;
    margin-right: 10px;
    border: 3px solid #eee;
    font-size: 14px;
    width: 630px;
}
/*-[ Parallax ]--------------------------------*/
#parallax {
    position: relative;
    padding-bottom: 28%;
    height: 0;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 15px;
}
#page.parallax { padding-top: 15px }
.page-template-page-parallax-php #page { padding-top: 15px }

#right {float: right;}
#left {float: left;}


